*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "plain";
}
html,body{
    width: 100%;
    height: 100%;
}


#main{
    background-color: #151515;
}
 #loader{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 20;
    padding-top: 15vh;
    padding-left: 8vw;
    /* display: none; */
}
.load{
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 18vh;
}
.load:nth-child(1){
    padding-left: 3vw;
}

.load h1{
    font-size: 7vw;
    text-transform: uppercase;
}
.load h2{
    font-size: 7vw;
    margin-left: 2vw;
    text-transform: uppercase;
    animation-name: now;
    animation-duration: .9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
         opacity: 1;
         color: white;
         font-weight: 100;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
         opacity: 0;
         color: transparent;
         font-weight: 100;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
         opacity: 1;
         color: transparent;
         font-weight: 100;
    }
    95%{
        font-family:"silk serif";
        -webkit-text-stroke: 1px transparent;
         opacity: 0;
         color: transparent;
         font-weight: 100;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
         opacity: 1;
         color: white;
         font-weight: 100;
    }
}

#timer{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin-right: 2vw;
    width: 16vw;
}
#timer h4{
    font-size: 4vw ;
    font-weight: 100;
    font-family: "silk serif";
}

#timer h5{
    font-size: 4vw ;
    font-family: "silk serif";
    font-weight: 100;
}



#page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
}

.mousefollower{
    height: 40px;
    width: 40px;
    background-color: transparent !important;
    mix-blend-mode: normal;
    border: 1px solid #fff;
}

#nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 5vw;
    /* background-color: red; */
}

#nav-part1{
    display: flex;
    align-items: flex-start;
    gap: 18vw;
}
#nav-part1 h2{
    font-size: 1vw;
    font-weight: 100;
    line-height: 1vw;
}

#nav-part2{
    display: flex;
    gap: 3vw;
    align-items: flex-start;
}

#nav h4{
    font-size: 1vw;
}


#content{
    padding-left: 28vw;
    padding-top: 6vw;
    /* background-color: red; */
}

.text{
    height: 7vw;
    overflow: hidden;
}

.text h1{
    font-size: 7.5vw;
    line-height: 7vw;
    font-weight: 500;
    text-transform: uppercase;
}






#page2{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
    padding: 7vw 0;
    padding-left: 28vw;

}

#play-btn{
    height: 10vw;
    position: absolute;
    width: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    left: 70%;
    top: -13%;
    z-index: 10;
}
#play-btn i{
    font-size: 3vw;
}

#video-container{
    height: 75vh;
    width: 100%;
    /* background-color: darkorchid; */
    position: relative;
}

#video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

#page3{
    min-height: 100vh;
    padding: 3vw;
}

.text-container{
    padding-left: 28vw;
}
.text-container h1{
    font-size: 7vw;
    text-transform: uppercase;
}

.text-container .underline{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 3vw 0;
}

.image-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.images{
    height: 40vw;
    width: 30vw;
    overflow: hidden;
    margin: 2vw;
}

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
._canvas_container{
    z-index: 9999999 !important;
}


.circle-container{
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-container .circle-in{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px;
    scale: 0;
    transition: all ease .5s;
}

.circle-container svg{
    height: 120px;
}
.circle-in p{
    color: #1a0909;
    font-weight: 100;
    font-size: 18px;
    transition: all ease .5s;
    scale: 0;
    transition-delay: .5s;
}
.circle-container:hover .circle-in p{
    scale: 1;
}

.circle-container:hover .circle-in{
    scale: 1;
}

#circle-container-1{
    margin-top: 17vw;
}
#circle-container-2{
    margin-top: 13vw;
}
#circle-container-2 svg{
    rotate: -45deg;
}


#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}

.image-container2{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3vw;
    margin-top: 2vw;
}

.images2{
    height: 36vw;
    width: 30vw;
    overflow: hidden;
    margin: 2vw;
}






.circle-container2{
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-container2 .circle-in2{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px;
    scale: 0;
    transition: all ease .5s;
}
#circle-container2-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vw;
}
.circle-container2 svg{
    height: 140px;
    rotate: -90deg;
}
.circle-in2 p{
    color: #1a0909;
    font-weight: 100;
    font-size: 18px;
    transition: all ease .5s;
    scale: 0;
    transition-delay: .5s;
}

.circle-container2:hover .circle-in2 p{
    scale: 1;
}

.circle-container2:hover .circle-in2{
    scale: 1;
}

/* #image0{
    margin-top: 10vw;
    margin-left: 8vw;
} */

#page5{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5 #center-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 12px;
    font-family: "sans-serif";
    width: 25vw;
    height: 25vw;
    background-color: orange;
    border-radius: 50%;
}

#page5 #center-circle:hover{
    scale: 0;
    transition: all ease 5s;
}

#page6{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding: 3vh 0
}

.page6-mark{
    height: 17vh;
    white-space: nowrap;
    /* background-color: red; */
}

.page6-mark h2{
    font-size: 6.8vw;
    -webkit-text-stroke: 2px white;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    font-weight: 100;
}

.page6-mark h3{
    font-size: 6.8vw;
    -webkit-text-stroke: 2px white;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    font-weight: 100;
    font-family: "silk serif";
    margin-left: 2vw;
    margin-right: 2vw;
}
.page6-marking{
    height: 17vh;
    white-space: nowrap;
    /* background-color: red; */
}

.page6-marking h2{
    font-size: 6.8vw;
    -webkit-text-stroke: 2px white;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    font-weight: 100;
}

.page6-marking h3{
    font-size: 6.8vw;
    -webkit-text-stroke: 2px white;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    font-weight: 100;
    font-family: "silk serif";
    margin-left: 2vw;
    margin-right: 2vw;
}

#footer{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding: 5vh 0;
    padding-left: 28vw;
}


.footer-text{
    height: 12vh;
    position: relative;
}

#footer h1{
    font-size: 7vw;
    text-transform: uppercase;
}


#footer h2{
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 100;
    font-family: "silk serif";
    position: absolute;
    height: 20vh;
    top: -8%;
    left: 0;
    opacity: 1;
}

#footer h2 span{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    opacity: 0;
    font-family: "silk serif";
}

#footer .underline{
    height: 2px;
    width: 100%;
    margin: 5vw 0;
    background-color: #fff;
}